{% load staticfiles %}

{% block extrahead %}
  {{ widget.media }}
{% endblock %}

<div class="columns-widget">
  {% comment %}
  we need the json.dumps version here, by default, in case the
  user saves this before editing. the JS of this widget will
  overwrite this with proper JSON as users modify it
  {% endcomment %}
  <textarea {#style="display:none;"#}
     name="{{ widget.name }}"
     {% include "django/forms/widgets/attrs.html" %}>
    {% if widget.value %}{{ widget.value }}{% endif %}
  </textarea>

  {% if widget.value_obj %}
  <table class="columns-selector-wrapper">
    {% for column in widget.value_obj %}
    <tr class="column-selector">
      {% for key, value in column.items %}
      <td class="option">
        {% if key == "name" %}
        <label for="{{ key }}">Name</label>
        <input type="text"
               id="{{ key }}"
               name="{{ key }}"
               value="{{ value }}" />
        {% elif key == "type" %}
        <label for="{{ key }}">{{ key|capfirst }}</label>
        <select id="{{ key }}" name="{{ key }}">
          {% for column_value, column_name in widget.column_types %}
          <option value="{{ column_value }}"
                  {% if column_value == value %}selected{% endif %}>
          {{ column_name }}
          </option>
          {% endfor %}
        </select>
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
