{% extends "django_models_from_csv/base.html" %}
{% load i18n static %}

{% block title %}
Add a Data Source | {{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
/**
 * Toggle displaying the dropdowns. Keyed based on
 * the class name, triggered by H3 click.
 */
function showHide(cls) {
  var hide = "display: none;";
  if (!cls) return;

  var block = document.querySelector(`${cls}-body`);
  if (block.getAttribute("style") === hide) {
      document.querySelectorAll(`${cls}-body`).forEach((i) => {
          i.setAttribute("style", "");
      });
      document.querySelector(`${cls} .icon`).innerText = "➖";
      document.querySelectorAll(`${cls}-body input`).forEach((i) => {
          i.value = "";
      });
  } else {
      document.querySelectorAll(`${cls}-body`).forEach((i) => {
          i.setAttribute("style", hide);
      });
      document.querySelector(`${cls} .icon`).innerText = "➕";
      document.querySelectorAll(`${cls}-body input`).forEach((i) => {
          i.value = "";
      });
  }
}

/**
 * Initially hide the dropdowns. If this fails, then they'll
 * just be shown. So this gracefully fails.
 */
function init() {
  document.querySelectorAll(".show-hide").forEach((d) => {
      d.setAttribute("style", "display: none;");
  });
}
// No IE8
document.addEventListener("DOMContentLoaded", function(event) {
  init();
});
</script>
{% endblock %}

{% block content %}
<div id="csv-models-config">
  <h2>Add a Data Source</h2>
  <p>
  This step will not import any data, but will read the source data and give you a chance to double check and modify the column types. Importing will happen on the next screen. Select a data source to get started.
  </p>
  <p class="note">
  NOTE: Your data source must have uniquely named column headers.
  </p>
  {% if errors %}
  <div class="error">
    <h3>The following errors were encountered while importing</h3>
    <p>
      {{ errors }}
    </p>
  </div>
  {% endif %}

  <form action="{% url 'db-config:begin' %}" method="POST">
      <h3 class="from-csv" onclick="showHide('.from-csv')">
          <span class="icon">➕</span> Import From Google Sheets/CSV URL
      </h3>
      <div class="show-hide from-csv-body">
          <p>
          Add a Google Sheets share link below to import it into the system. Make sure the link is an "Anyone with link can view" link, found in the Share menu.
          </p>
          <table>
              <tr>
                  <td>
                      {% trans 'Data Source Label' as name_label %}
                      <label for="csv_name">{{ name_label }}</label>
                  </td>
                  <td>
                      <input style="min-width:600px;"
                             name="csv_name"
                             type="text"
                             placeholder="Enter name, e.g., QuestionnaireResponse" />
                  </td>
              </tr>
              <tr>
                  <td>
                      {% trans 'Google Sheet URL' as sheets_label %}
                      <label for="csv_url">{{ sheets_label }}</label>
                  </td>
                  <td>
                      <input style="min-width:600px;"
                             name="csv_url"
                             type="text"
                             placeholder="e.g., https://docs.google.com/spreadsheets/d/1SiI_sOj_LcW1qXzDSoBaOgZ_SR8SioKZ05auN1o90hc/edit?usp=sharing" />
                      <br/>
                      <h4 class="needs-auth" onclick="showHide('.needs-auth')">
                          <span class="icon">➕</span> This is a private Sheet (needs Google Sign In)
                      </h4>
                  </td>
              </tr>
              <tr class="show-hide needs-auth-body google-sheets-authentication">
                  <td>
                      &nbsp;
                  </td>
                  <td>
                      <h5>Google Authentication Instructions</h5>
                      <video width="640" controls>
                          <source src="{% static 'collaborative/google-sheets-instructions.mp4' %}" type="video/mp4" />
                              Your browser does not support video.
                      </video>
                      <p>
                          <a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=507707897389-566t26bmm0mjsrpm6opt1m459j5esqrd.apps.googleusercontent.com&redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=code&scope=https://www.googleapis.com/auth/spreadsheets.readonly" target="_blank">
                              <img src="{% static 'collaborative/btn_google_signin_light_normal_web.png' %}" /><br/>
                              Click to get started with Google Authentication
                          </a>
                      </p>
                  </td>
              </tr>
              <tr class="show-hide needs-auth-body">
                  <td>
                      <label for="csv_google_sheets_auth_code">{% trans 'Google Auth Code' %}</label>
                  </td>
                  <td>
                      <input style="min-width:600px;"
                             name="csv_google_sheets_auth_code"
                             type="text"
                             placeholder="{% trans 'Paste Google code here' %}" />
                  </td>
              </tr>
          </table>
      </div>
      <h3 class="from-screendoor" onclick="showHide('.from-screendoor')">
          <span class="icon">➕</span> Import From Screendoor
      </h3>
      <div class="show-hide from-screendoor-body">
          <p>
          To import responses to a Screendoor form, enter an API key, project
          ID and (optionally) a form ID. (If you omit a form ID, we will
          automatically pick the first form in your project.)
          </p>
          <table>
              <tr>
                  <td>
                      <label for="sd_name">{{ name_label }}</label>
                  </td>
                  <td>
                      <input style="min-width:600px;"
                             name="sd_name"
                             type="text"
                             placeholder="Enter name, e.g., ScreendoorResponse" />
                  </td>
              </tr>
              <tr>
                  <td>
                      <label for="sd_api_key">{% trans 'API key' %}</label>
                  </td>
                  <td>
                      <input style="min-width:600px;"
                             name="sd_api_key"
                             type="text"
                             placeholder="e.g., sOj_LcW1qXzDSoBaOgZ_SR8Sio" />
                  </td>
              </tr>
              <tr>
                  <td>
                      <label for="sd_project_id">{% trans 'Project ID' %}</label>
                  </td>
                  <td>
                      <input style="min-width:600px;"
                             name="sd_project_id"
                             type="text"
                             placeholder="e.g., 2661" />
                  </td>
              </tr>
              <tr>
                  <td>
                      <label for="sd_form_id">{% trans 'Form ID (optional)' %}</label>
                  </td>
                  <td>
                      <input style="min-width:600px;"
                             name="sd_form_id"
                             type="text"
                             placeholder="e.g., 726" />
                  </td>
              </tr>
          </table>
      </div>
      <div class="continue">
          <input type="submit" value="{% trans 'Continue' %}" />
      </div>
      {% csrf_token %}
  </form>
</div>
{% endblock %}
