{% extends "django_models_from_csv/base.html" %}
{% load i18n static %}

{% block title %}
Add a Data Source | {{ block.super }}
{% endblock %}

{% block content %}
<div id="csv-models-config">
  <h2>Add a Data Source</h2>
  <form action="{% url 'db-config:begin' %}" method="POST">
      <div class="show-hide from-csv">
          <p>
          Add a Google Sheets share link below to import it into the system. Make sure the link is an "Anyone with link can view" link, found in the Share menu.
          </p>
          <p>
          This step will not import any data, but will read the spreadsheet and then give you a chance to double check and modify the column types. Importing will happen on the next screen.
          </p>
          <p class="note">
          NOTE: Your spreadsheet must have a header row!
          </p>
          <table>
              <tr>
                  <td>
                      {% trans 'Data Source Label' as name_label %}
                      <label for="name">{{ name_label }}</label>
                  </td>
                  <td>
                      <input style="min-width:600px;"
                             name="name"
                             type="text"
                             placeholder="Enter name, e.g., QuestionnaireResponse" />
                  </td>
              </tr>
              <tr>
                  <td>
                      {% trans 'Google Sheet URL' as sheets_label %}
                      <label for="csv_url">{{ sheets_label }}</label>
                  </td>
                  <td>
                      <input style="min-width:600px;"
                             name="csv_url"
                             type="text"
                             placeholder="e.g., https://docs.google.com/spreadsheets/d/1SiI_sOj_LcW1qXzDSoBaOgZ_SR8SioKZ05auN1o90hc/edit?usp=sharing" />
                  </td>
              </tr>
          </table>
      </div>
      <div class="show-hide from-screendoor">
          <p>
          To import responses to a Screendoor form, enter an API key, project
          ID and (optionally) a form ID. (If you omit a form ID, we will
          automatically pick the first form in your project.)
          </p>
          <table>
              <tr>
                  <td>
                      <label for="name">{{ name_label }}</label>
                  </td>
                  <td>
                      <input style="min-width:600px;"
                             name="name"
                             type="text"
                             placeholder="Enter name, e.g., ScreendoorResponse" />
                  </td>
              </tr>
              <tr>
                  <td>
                      <label for="sd_api_key">{% trans 'API key' %}</label>
                  </td>
                  <td>
                      <input style="min-width:600px;"
                             name="sd_api_key"
                             type="text"
                             placeholder="e.g., sOj_LcW1qXzDSoBaOgZ_SR8Sio" />
                  </td>
              </tr>
              <tr>
                  <td>
                      <label for="sd_project_id">{% trans 'Project ID' %}</label>
                  </td>
                  <td>
                      <input style="min-width:600px;"
                             name="sd_project_id"
                             type="text"
                             placeholder="e.g., 2661" />
                  </td>
              </tr>
              <tr>
                  <td>
                      <label for="sd_form_id">{% trans 'Form ID (optional)' %}</label>
                  </td>
                  <td>
                      <input style="min-width:600px;"
                             name="sd_form_id"
                             type="text"
                             placeholder="e.g., 726" />
                  </td>
              </tr>
          </table>
      </div>
      <div class="continue">
          <input type="submit" value="{% trans 'Continue' %}" />
      </div>
      {% csrf_token %}
  </form>
</div>
{% endblock %}
