{% extends "django_models_from_csv/base.html" %}
{% load i18n static %}

{% block title %}
Database Columns | {{ block.super }}
{% endblock %}

{% block content %}
<div id="csv-models-config">
  <h2>Refine Database</h2>
  <form action="{% url 'csv_models:refine-and-import' dynmodel.id %}"
        enctype="multipart/form-data"
        method="POST">
      {% if errors %}
      <h3>Import Errors</h3>
      {% for err in errors %}
          <p>
              <b>{{err}}</b><br/>
          </p>
      {% endfor %}
      {% endif %}

      {% if error_message %}
      <h3>Import Error</h3>
      <p>
          {{error_message}}
      </p>
      {% endif %}
      <p>
      {% blocktrans trimmed %}
          These are the columns we found in your sheet. Feel free
          to change the data types or set fields you want to search,
          filter or redact.
      {% endblocktrans %}
      </p>
      <p>
      {% blocktrans trimmed %}
          The first five columns (below) will be displayed in the
          imported records list. The remaining columns will
          only be shown inside each record's full detail page.
          Re-order the columns by dragging them around.
      {% endblocktrans %}
      </p>
      <p>
      {% blocktrans trimmed %}
      In order to use redaction on your columns, you need to
      {% endblocktrans %}
      <a rel="noopener noreferrer" target="_blank" href="{% url 'setup-credentials' %}">{% trans 'set up Google Cloud Data Loss Prevention credentials here.' %}</a>
      {% blocktrans trimmed %}
      When you are done, refresh the page.
      {% endblocktrans %}
      </p>

      {% if dynmodel.csv_file %}
      <h4>Updating your CSV file</h4>
      <p>
          <div class="reimport-csv">
              <input style="min-width:600px;"
                     id="csv_file_upload"
                     name="csv_file_upload"
                     accept=".csv"
                     type="file" />
          </div>
          <p>
          {% blocktrans trimmed %}
          You can update this dataset by adding a CSV with more data, above.
          Make sure this file has the same columns and headers as the
          original, and that you haven't removed any rows from it. Trying to
          re-upload a CSV that has missing rows or different column headers
          will result in failure. For a fully dynamic experience, choose any
          of the other import options (e.g. Google Sheet).
          {% endblocktrans %}
          </p>
      </p>
      {% endif %}

      {{ form.columns }}
      <div class="continue">
          <input type="submit" value="{% trans "Continue" %}" />
      </div>
      {% csrf_token %}
  </form>
</div>
{% endblock %}
