{% extends "django_models_from_csv/base.html" %}
{% load i18n static %}

{% block title %}
Database Columns | {{ block.super }}
{% endblock %}

{% block content %}
<div id="csv-models-config">
  <h2>Refine Database</h2>
  <form action="{% url 'csv_models:refine-and-import' dynmodel.id %}" method="POST">
      {% if errors %}
      <h3>Import Errors</h3>
      {% for err in errors %}
          <p>
              <b>{{err}}</b><br/>
          </p>
      {% endfor %}
      {% endif %}
      <p>
      {% blocktrans trimmed %}
          These are the column names and types we found in
          your sheet. Feel free to double check and correct
          any mistakes before continuing.
      {% endblocktrans %}
      </p>
      <p>
      {% blocktrans trimmed %}
          The first five columns (below) will be displayed in the
          imported records list. The remaining columns will
          only be shown inside each record's full detail page.
          Re-order the columns by dragging them around.
      {% endblocktrans %}
      </p>
      <p>
      {% blocktrans trimmed %}
      In order to use Google Cloud Data Loss Prevention redaction on
      your columns, you need to
      {% endblocktrans %}
      <a href="{% url 'setup-credentials' %}">{% trans 'setup the credentials here.' %}</a>
      {% blocktrans trimmed %}
      Then select the columns you want to have names, phone numbers,
      and emails removed from. Note that this will not modify the original
      data source, but will prevent the data from being imported here.
      {% endblocktrans %}
      </p>
      {{ form.columns }}
      <div class="continue">
          <input type="submit" value="{% trans "Continue" %}" />
      </div>
      {% csrf_token %}
  </form>
</div>
{% endblock %}
