{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrahead %}
{{ block.super }}
<style>
/**
 * #304154 // "PropPublica blue" -- main headers
 * #405670 // Lighter version of Propublica bluw -- subheaders
 * #557395 // Accent blue, for hover, etc, brief/small things
 */
div#csv-models-config p {
    padding: 0px 0px;
}
div#csv-models-config {
    max-width: 900px;
    font-size: 18px;
    margin: 0 auto;
}
#csv-models-config h2 {
    font-size: 25px;
    padding: 10px 0;
    margin: 5px 0px;
}
#csv-models-config h3 {
    font-size: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #aaa;
}
#csv-models-config a {
    color: #304154;
    text-decoration: underline;
}
#csv-models-config a:hover {
    color: #557395;
}
#csv-models-config form label {
    font-size: 18px;
    font-weight: bold;
}
#csv-models-config table {
    padding: 15px;
    display: block;
}
#csv-models-config ol {
  padding-top: 25px;
  padding-bottom: 10px;
}
#csv-models-config li,
#csv-models-config dt,
#csv-models-config dd {
    font-size: 18px;
    margin-top: 5px;
}
#csv-models-config code {
    font-size: 18px;
}
#csv-models-config table {
  padding-left: 10px;
}
div#csv-models-config #first-run {
    background-color: #eeeeee;
    padding: 15px;
    margin: 15px;
}
#csv-models-config .set-password input,
#csv-models-config .google-oauth input {
  min-width: 300px;
}
#csv-models-config .google-sheets-authentication {
    text-align: center;
}
#csv-models-config input[type=submit] {
  font-size: 18px;
  font-weight: bold;
}
#csv-models-config h4.instructions-modal-button {
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 15px;
}
#csv-models-config h4 {
  font-size: 1.0em;
  margin-bottom: 5px;
}
#csv-models-config .reimport-csv {
  margin: 0 auto;
}

#csv-models-config .private-sheet-instructions .svc_acct_email {
  font-family: monospace;
  font-weight: bold;
}
#csv-models-config input[type=checkbox] {
  margin-right: 10px;
}
#csv-models-config .click-to-login {
  text-align: center;
  font-weight: bold;
}
#csv-models-config .continue {
  padding: 25px;
}
#csv-models-config .note {
  font-weight: bold;
}
#csv-models-config .error code {
  font-weight: bold;
  color: #580000;
}
#csv-models-config .error {
  font-weight: bold;
  color: #880000;
}
#csv-models-config .error a {
  font-weight: bold;
  color: #550000;
}
#csv-models-config .error a:hover {
  font-weight: bold;
  color: #440000;
}

#csv-models-config .instructions-list li,
#csv-models-config ol.instructions-list {
  padding-top: 5px;
  margin-top: 10px;
}
.instructions-list img {
  border: 1px solid black;
}
.instructions-list li {
  margin-top: 25px;
}
.instructions-list h1 {
  margin-top: 35px;
  margin-bottom: 25px;
}
.instructions-list h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.instructions-list h3 {
  margin-top: 20px;
}
.instructions-list a {
  text-decoration: underline;
}
.ui-dialog {
  box-shadow: rgb(0, 0, 0, 0.5) 10px 10px 15px;
}
.instructions-modal-button span {
  background-color: #304154;
  color: white;
  font-size: 0.9em;
  margin: 1px;
  padding: 3px 5px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  width: 13px;
  font-weight: bold;
}

</style>
{% endblock %}

{% block title %}
Collaborate
{% endblock %}

{% block branding %}
<h1>Collaborate</h1>
{% endblock %}
