{% load staticfiles %}

{% block extrahead %}
  {{ widget.media }}
  <style>
#content div.columns-widget {
    padding: 15px;
}
.columns-selector-wrapper {
}
.columns-selector-wrapper input[type=text] {
    min-width: 300px;
    margin-right: 20px;
}
  </style>
  <script type="text/javascript">
    (function($) {
      'use strict';

      function updateJSON(widget, event) {
        let columnsJSON = JSON.parse($("textarea", widget).val());
        let i = 0;
        // for each column config row in the DOM ...
        $(".column-selector", widget).each((_, tr) => {
          const columnDef = {};
          // ... build each column attribute from the inputs.
          // note that if a DOM entry is missing for something
          // that actually appeared in the JSON, it will not survive
          // a re-save. so it's important that this gets updated
          // along with the column JSON structure (validators.py)
          $(".option", tr).each((_, td) => {
            const select = $("select", td);
            if (select && select.length) {
              const name = select.attr("name");
              if (name) {
                const val = select.val();
                columnsJSON[i][name] = val;
              }
            }
            $("input", td).each((_, el) => {
              const input = $(el);
              const name = input.attr("name");
              if (input.attr("type") === "text") {
                columnsJSON[i][name] = input.val();
              } else if (input.attr("type") === "checkbox") {
                columnsJSON[i][name] = input.prop("checked");
              }
            });
          })
          i++;
        })
        const jsonStr = JSON.stringify(columnsJSON, null, 2);
        const textArea = $("textarea", widget);
        textArea.val(jsonStr);
      }

      function watchChange(widget) {
        const inputs = $("input", widget);
        inputs.each((_, input) => {
          $(input).on("keyup change", updateJSON.bind(this, widget));
        });
        const selects = $("select", widget);
        selects.each((_, sel) => {
          $(sel).on("keyup change", updateJSON.bind(this, widget));
        });
      }

      function main() {
        const widgets = $(".columns-widget");
        widgets.each((_, widget) => {
          watchChange(widget);
        });
      }

      $(document).ready(main);
    })(django.jQuery);
  </script>
{% endblock %}

<div class="columns-widget">
  {% comment %}
  we need the json.dumps version here, by default, in case the
  user saves this before editing. the JS of this widget will
  overwrite this with proper JSON as users modify it
  {% endcomment %}
  <textarea style="display:none;"
     name="{{ widget.name }}"
     {% include "django/forms/widgets/attrs.html" %}>
    {% if widget.value %}{{ widget.value }}{% endif %}
  </textarea>

  {% if widget.value_obj %}
  <table class="columns-selector-wrapper">
    <tr>
      <th>
          Column name
      <th>
          Data type
      </th>
      <th>
          Original header
      </th>
      <th>
          Searchable
      </th>
      <th>
          Filterable
      </th>
    </tr>
    {% for column in widget.value_obj %}
    {# this check ensures only CSV-backed fields appear #}
    {% if column.original_name %}
    <tr class="column-selector">
      <td class="option">
        <input type="text"
               name="name"
               value="{{ column.name }}" />
      </td>
      <td class="option">
        <select name="type">
          {% for column_value, column_name in widget.column_types %}
          <option value="{{ column_value }}"
                  {% if column_value == value %}selected{% endif %}>
          {{ column_name }}
          </option>
          {% endfor %}
        </select>
      </td>
      <td style="max-width: 200px">
          {{ column.original_name }}
      </td>
      <td class="option">
        <input type="checkbox"
               name="searchable"
               {% if column.searchable %}checked{% endif %} />
      </td>
      <td class="option">
        <input type="checkbox"
               name="filterable"
               {% if column.filterable %}checked{% endif %} />
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
  {% endif %}
</div>
