{% load staticfiles %}

{% block extrahead %}
  {{ widget.media }}
  <style>
#content div.columns-widget {
    padding: 15px;
}
.columns-selector-wrapper {
}
.columns-selector-wrapper input[type=text] {
    min-width: 300px;
    margin-right: 20px;
}
  </style>
  <script type="text/javascript">
    (function($) {
      'use strict';

      function updateJSON(widget, event) {
        let columnsJSON = JSON.parse($("textarea", widget).val());
        let i = 0;
        $(".column-selector", widget).each((_, tr) => {
          const columnDef = {};
          $(".option", tr).each((_, td) => {
            const input = $("input", td);
            if (input) {
              const name = input.attr("name");
              const val = input.val();
              columnsJSON[i][name] = val;
            }
            const select = $("select", td);
            if (select) {
              const name = select.attr("name");
              const val = select.val();
              columnsJSON[i][name] = val;
            }
          })
          i++;
        })
        const jsonStr = JSON.stringify(columnsJSON, null, 2);
        const textArea = $("textarea", widget);
        textArea.val(jsonStr);
      }

      function watchChange(widget) {
        const inputs = $("input", widget);
        inputs.each((_, input) => {
          $(input).on("keyup change", updateJSON.bind(this, widget));
        });
        const selects = $("select", widget);
        selects.each((_, sel) => {
          $(sel).on("keyup change", updateJSON.bind(this, widget));
        });
      }

      function main() {
        const widgets = $(".columns-widget");
        widgets.each((_, widget) => {
          watchChange(widget);
        });
      }

      $(document).ready(main);
    })(django.jQuery);
  </script>
{% endblock %}

<div class="columns-widget">
  {% comment %}
  we need the json.dumps version here, by default, in case the
  user saves this before editing. the JS of this widget will
  overwrite this with proper JSON as users modify it
  {% endcomment %}
  <textarea style="display:none;"
     name="{{ widget.name }}"
     {% include "django/forms/widgets/attrs.html" %}>
    {% if widget.value %}{{ widget.value }}{% endif %}
  </textarea>

  {% if widget.value_obj %}
  <table class="columns-selector-wrapper">
    <tr class="column-selector">
        <th class="option">
            Column name
        <th class="option">
            Data type
        </th>
        <th class="option">
            Original header
        </th>
    </tr>
    {% for column in widget.value_obj %}
    {% if column.original_name %}
    <tr class="column-selector">
      <td class="option">
        <input type="text"
               id="name"
               name="name"
               value="{{ column.name }}" />
      </td>
      <td class="option">
        <select id="type" name="type">
          {% for column_value, column_name in widget.column_types %}
          <option value="{{ column_value }}"
                  {% if column_value == value %}selected{% endif %}>
          {{ column_name }}
          </option>
          {% endfor %}
        </select>
      </td>
      <td style="max-width: 200px">
          {{ column.original_name }}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
  {% endif %}
</div>
