{% load static %}
{% load field_verbose_name i18n %}

{% block extrahead %}
  {{ widget.media }}
  <link rel="stylesheet" href="{% static "ui/jquery-ui.css" %}">

  <script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
  <script src="{% static "html5sortable/html5sortable.min.js" %}"></script>
  <script src="{% static "django_models_from_csv/sightglass.js" %}"></script>
  <script src="{% static "django_models_from_csv/rivets.js" %}"></script>
  <script src="{% static "django_models_from_csv/columnswidget.js" %}"></script>

  <style>
    #content div.columns-widget {
        padding: 15px;
    }
    .columns-selector-wrapper {
    }
    .columns-selector-wrapper input[type=text] {
        min-width: 200px;
        margin-right: 20px;
    }
    .sortable tr:hover {
        background-color: #eeeeee;
    }
    .columns-widget .sortable tbody tr:nth-child(1) th {
        border-bottom: 2px solid #cccccc;
    }
    .columns-widget .sortable tbody tr:nth-child(6) td {
        border-bottom: 2px solid #cccccc;
    }
    .sortable .grippy {
      content: '....';
      width: 10px;
      height: 20px;
      display: inline-block;
      overflow: hidden;
      line-height: 5px;
      padding: 3px 4px;
      cursor: move;
      vertical-align: middle;
      margin-top: -.7em;
      margin-right: .3em;
      font-size: 12px;
      font-family: sans-serif;
      letter-spacing: 2px;
      color: #cccccc;
      text-shadow: 1px 0 1px black;
    }
    .sortable .grippy::after {
      content: '.. .. .. ..';
    }
    .redactor-disabled{
      cursor: not-allowed;
    }
    .grabber-column {
      padding: 0;
      margin: 0;
    }
  </style>

  <script type="text/javascript">
    $(function() {
      const sortCSS = '.main-data-sortable tbody';
      const options = {
          items: 'tr',
          forcePlaceholderSize: true,
      };
      sortable(sortCSS, options)[0].addEventListener('sortupdate', function(e) {
        /**
         * This event is triggered when the user stopped sorting and the DOM
         * position has changed.
         *
         * e.detail.item - {HTMLElement} dragged element
         *
         * Origin Container Data
         * ======================
         * e.detail.origin.index - {Integer} Index of the element within
         *     Sortable Items Only
         * e.detail.origin.elementIndex - {Integer} Index of the element in all
         *     elements in the Sortable Container
         * e.detail.origin.container - {HTMLElement} Sortable Container that
         *     element was moved out of (or copied from)
         * e.detail.origin.itemsBeforeUpdate - {Array} Sortable Items
         *  before the move
         * e.detail.origin.items - {Array} Sortable Items after the move
         *
         * Destination Container Data
         * ==========================
         * e.detail.destination.index - {Integer} Index of the element within
         *     Sortable Items Only
         * e.detail.destination.elementIndex - {Integer} Index of the element
         *     in all elements in the Sortable Container
         * e.detail.destination.container - {HTMLElement} Sortable Container
         *     that element was moved out of (or copied from)
         * e.detail.destination.itemsBeforeUpdate - {Array} Sortable Items
         *     before the move
         * e.detail.destination.items - {Array} Sortable Items after the move
         */
        const start = e.detail.origin.index - 1;
        const end = e.detail.destination.index - 1;

        const widget = document.querySelector(".columns-widget");
        const cols = JSON.parse($("textarea", widget).val());
        let col = cols.splice(start, 1)[0];
        cols.splice(end, 0, col);

        const jsonStr = JSON.stringify(cols, null, 2);
        const textArea = $("textarea", widget);
        textArea.val(jsonStr);
      });
    });
  </script>

  <script type="text/javascript">
    (function($) {
      'use strict';

      function updateJSON(widget, event) {
        let columnsJSON = JSON.parse($("textarea", widget).val());
        let i = 0;
        // for each column config row in the DOM ...
        $(".column-selector", widget).each((_, tr) => {
          const columnDef = {};
          // ... build each column attribute from the inputs.
          // note that if a DOM entry is missing for something
          // that actually appeared in the JSON, it will not survive
          // a re-save. so it's important that this gets updated
          // along with the column JSON structure (validators.py)
          $(".option", tr).each((_, td) => {
            const select = $("select", td);
            // update the name of the column
            if (select && select.length) {
              const name = select.attr("name");
              if (name) {
                const val = select.val();
                columnsJSON[i][name] = val;
              }
            }
            $("input", td).each((_, el) => {
              const input = $(el);
              const name = input.attr("name");
              if (input.attr("type") === "text") {
                columnsJSON[i][name] = input.val();
              } else if (input.attr("type") === "checkbox") {
                columnsJSON[i][name] = input.prop("checked");
              }
            });
          })
          i++;
        })
        const jsonStr = JSON.stringify(columnsJSON, null, 2);
        const textArea = $("textarea", widget);
        textArea.val(jsonStr);
      }

      function watchChange(widget) {
        const inputs = $("input", widget);
        inputs.each((_, input) => {
          $(input).on("keyup change", updateJSON.bind(this, widget));
        });
        const selects = $("select", widget);
        selects.each((_, sel) => {
          $(sel).on("keyup change", updateJSON.bind(this, widget));
        });
      }

      function watchAddField(widget) {
        $(widget).find("select.column-type-selector").show();
      }

      function main() {
        const widgets = $(".columns-widget");
        widgets.each((_, widget) => {
          watchChange(widget);
        });
      }

      $(document).ready(main);
    })(django.jQuery);
  </script>
{% endblock %}

<div class="columns-widget">
  {% comment %}
  we need the json.dumps version here, by default, in case the
  user saves this before editing. the JS of this widget will
  overwrite this with proper JSON as users modify it
  {% endcomment %}
  <textarea style="display:none;"
     name="{{ widget.name }}"
     {% include "django/forms/widgets/attrs.html" %}>
    {% if widget.value %}{{ widget.value }}{% endif %}
  </textarea>

  {% if widget.value_obj %}
  <table id="csv-models-columns"
         class="columns-selector-wrapper main-data-sortable sortable">
    <tr>
      <th>&nbsp;</th>
      <th>
          Column name
      </th>
      <th>
          Data type
      </th>
      <th>
          Original header
      </th>
      <th>
          Searchable
      </th>
      <th>
          Filterable
      </th>
      <th class="nowrap">
        Redact
        {% if not dlp_credentials_exist  %}
        <a href="{% url 'setup-credentials' %}"
           rel="noopener noreferrer" target="_blank">
          <img src="{% static "admin/img/icon-unknown.svg" %}"
               class="help help-tooltip"
               width="10"
               height="10"
               alt="{% trans 'Google redactions credentials missing.' %}"
               title="{% trans 'In order to use Google redaction, you need to set it up from the Configure Google Credentials page. Click here to open the page in a new tab' %}">
        </a>
        {% endif %}
      </th>
    </tr>
    {% for column in widget.value_obj %}
    {# this check ensures only CSV-backed fields appear #}
    {% if column.original_name %}
    <tr class="column-selector">
      <td class="grabber-column">
        <span class="grippy"></span>
      </td>
      <td class="option">
        <input type="text"
               name="name"
               value="{{ column.name }}" />
      </td>
      <td class="option">
        <select name="type">
          {% for column_value, column_name in widget.column_types %}
          <option value="{{ column_value }}"
                  {% if column_value == column.type %}selected{% endif %}>
          {{ column_name }}
          </option>
          {% endfor %}
        </select>
      </td>
      <td class="fourth-column">
          {{ column.original_name|verbose_name }}<br/>
      </td>
      <td class="option center">
        <input type="checkbox"
               name="searchable"
               class="clickable"
               {% if column.searchable %}checked{% endif %} />
      </td>
      <td class="option center">
        <input type="checkbox"
               name="filterable"
               class="clickable"
               {% if column.filterable %}checked{% endif %} />
      </td>
      <td class="option center">
        <input type="checkbox"
               name="redact"
               {% if not dlp_credentials_exist %}
               disabled="disabled" class="redactor-disabled"
               {% else %}
               class="clickable"
               {% endif %}
               {% if column.redact %}checked{% endif %} />
        <!-- hidden fields, positional index -->
        <input type="hidden"
               name="ix"
               value="{{ column.ix }}" />
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
  {% endif %}
</div>
