{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}

{% block extrahead %}
<style>
#header {
    background-color: #304154;
    color: white;
}
#header #branding h1 a,
#header #branding h1,
#header h1 a {
    color: white;
    font-weight: bold;
}

#container .breadcrumbs,
#content-main caption {
  background-color: #405670;
}
#content-main .module tr a:visited,
#content-main .module tr a {
  color: #333;
  font-weight: normal;
}
#content-main .module tr a:hover {
  color: #000;
}
#content-main button {
  color: #405670;
}
#content-main button:hover {
  color: #557395;
}
#content form td {
  vertical-align: middle;
}
#content form .continue input[type=submit] {
  background-color: #405670;
  color: white;
}
#content form .continue input[type=submit]:hover {
  background-color: #557395;
  color: white;
}
#content div {
  padding: 10px 0;
}
#content p {
  padding: 15px 15px 0 15px;
}

#content #content-main input[type=submit] {
  background-color: #304154;
}
#content #content-main input[type=submit]:hover {
  background-color: #405670;
}

#csv-models-config h4.hideable,
#csv-models-config h3.hideable {
    cursor: pointer;
}

/* admin overrides */
#result_list .field-get_view_label {
	vertical-align: middle;
	text-decoration: underline;
}

#languages form {
    display: inline-block;
    float: left;
}
#languages form input {
    margin: 5px;
    padding:5px
}

/**
 * #304154 // "PropPublica blue" -- main headers
 * #405670 // Lighter version of Propublica bluw -- subheaders
 * #557395 // Accent blue, for hover, etc, brief/small things
 */
</style>
{% endblock %}


{% block userlinks %}
/ <a href="{% url 'csv_models:begin' %}?addnew=true">{% trans 'Add new data source' %}</a> / <a href="{% url 'setup-credentials' %}">{% trans 'Configure Google Services' %}</a> /
{{ block.super }}
{% endblock %}

{% block nav-global %}
{{block.super}}
<div id="languages">

<form action="/i18n/setlang/" method="post">
	{% csrf_token %}
  <input type="hidden" name="language" value="en"/>
  <input id="lang_select_en" type="submit"  value="English"/>
</form>

<form action="/i18n/setlang/" method="post">
	{% csrf_token %}
  <input type="hidden" name="language" value="es"/>
  <input id="lang_select_es" type="submit"  value="Español"/>
</form>

</div>
{% endblock %}
