{% extends "admin/base_site.html" %}
{% load i18n static sort_apps %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
<style>
.refreshlink span.icon {
    padding-left: 16px;
    color: green;
}
.delete-imported-sources img {
    margin-bottom: -2px;
}
</style>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list|sort_apps %}
    {% if app.app_label == "django_models_from_csv" and app.models|length < 1 %}
        <div class="app-{{ app.app_label }} module">
            <table>
                <caption>
                    <span class="section" >{{ app.name }}</span>
                </caption>
                <tr class="model-{{ model.object_name|lower }}">
                    <th>
                        <a class="section" href="/db-config/begin?addnew=true">
                          {% trans 'No data sources added. Import one here.' %}
                        </a>
                    </th>
                    <th>&nbsp;</th>
                </tr>
            </table>
        </div>
        {% else %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
            <a href="{% url 'admin:django_models_from_csv_dynamicmodel_changelist' %}" class="section delete-imported-sources" style="float: right">{% if app.app_label == "django_models_from_csv" %}<img src="{% static 'admin/img/icon-deletelink.svg' %}" alt="{% trans 'Delete' %}"> {% trans 'Delete an Import' %}{% endif %}</a>
        </caption>
        {% for model in app.models %}
            {% if model.object_name != "DynamicModel" %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                {% if "django_models_from_csv" in model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View Records' %}</a></td>
                <td><a href="{% url 'csv_models:refine-and-import' model.object_name %}" class="refreshlink"><span class="icon">🔄</span> {% trans 'Re-import' %}</a></td>
                {% elif model.view_only %}
                <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
                {% else %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% endif %}
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
        </table>
        </div>
      {% endif %}
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to view or edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
