{% extends "setup-base.html" %}
{% load i18n static %}

{% block title %}
System Setup | {{ block.super }}
{% endblock %}

{% block content %}
<h2>System Setup</h2>
<form action="{% url 'setup-begin' %}" method="POST">
    <div class="base-config">
        {% trans 'Google Sheet URL' as sheets_label %}
        <label for="sheets_url">{{ sheets_label }}</label>
        <input name="sheets_url" type="text" placeholder="e.g., https://docs.google.com/spreadsheets/d/1w2Bt..." required />
    </div>

    <div class="continue">
        <input type="submit" value="{% trans 'Continue' %}" />
    </div>
</form>
{% endblock %}
