{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrahead %}
{{ block.super }}
<style>
#content h2 {
    font-size: 25px;
}
#content form {
    max-width: 900px;
    font-size: 18px;
    margin: 0 auto;
}
#content form label {
    font-size: 18px;
    font-weight: bold;
}
#content form .continue input[type=submit] {
  background-color: #405670;
  color: white;
}
#content form .continue input[type=submit]:hover {
  background-color: #557395;
  color: white;
}
// #304154 #mainhead
// #405670 #subhead
// #557395 #highlight/hover lighter blue
</style>
{% endblock %}


{% block title %}
ProPublica's Instant Database
{% endblock %}

{% block branding %}
<h1>ProPublica's Instant Database</h1>
{% endblock %}
