{% extends "setup-base.html" %}
{% load i18n static %}

{% block title %}
Database Columns | {{ block.super }}
{% endblock %}

{% block content %}
<h2>Refine Database</h2>
<form action="{% url 'setup-refine-schema' sheet.id %}" method="POST">
    {% if not errors %}
    <p>
    {% blocktrans trimmed %}
        These are the column names and types we found in
        your sheet. Feel free to double check and correct
        any mistakes before continuing.
    {% endblocktrans %}
    {{ form }}
    </p>
    {% else %}
    <h3>Import Errors</h3>
    {% for pk, errs in errors %}
        <p>
            <b>Row {{ pk }}:</b><br/>
            {% for e in errs %}
                {{ e.error.args  }}<br/>
            {% endfor %}
        </p>
    {% endfor %}
    {% endif %}
    <div class="continue">
        <input type="submit" value="{% trans "Continue" %}" />
    </div>
    {% csrf_token %}
</form>
{% endblock %}
