{% extends "django_models_from_csv/base.html" %}
{% load i18n static %}

{% block title %}
{% trans 'Google Credentials Setup' %} | {{ block.super }}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ widget.media }}
  <script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
  <script src="{% static "django_models_from_csv/show-hide.js" %}"></script>
  <script>
  document.addEventListener("DOMContentLoaded", function(event) {
    // hide the menus (from show-hide.js
    window.COLLAB_initShowHide();
  });
  </script>
  <style>
#csv-models-config .authentication .password input {
    min-width: 300px;
    margin-right: 20px;
}
#csv-models-config input[type="text"] {
    min-width: 600px;
}
  </style>
{% endblock %}

{% block content %}
<div id="csv-models-config" class="google-credentials">
  <h2>{% trans 'Google Credentials' %}</h2>
  <p>
  {% blocktrans trimmed %}
  Google provides several services that can be integrated into the collaborative
  system. In order to enable them, you first need to set up each one by following
  the provided instructions.
  {% endblocktrans %}
  </p>
  <form enctype="multipart/form-data"
        action="{% url 'setup-credentials' %}" method="POST">
    <h3 class="google-signin hideable" onclick="showHide('.google-signin')">
      <span class="icon">➕</span> Google Sign In
    </h3>
    <div class="show-hide google-signin-body">
      <p>
      {% blocktrans trimmed %}
      In order to allow users to sign in with their Google account, you need
      to request access from Google to do this. Specifically, you need
      something called OAuth2 keys from Google. To get these keys, follow
      these steps:
      {% endblocktrans %}
      </p>
      <ol>
        <li>
          <a href="https://console.developers.google.com/" target="_blank">
            {% trans "Go to the Google Developer's Console" %}.
          </a>
        </li>
        <li>
          {% blocktrans trimmed %}
          Create a new project (or select an existing one).
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          On the left, select "Credentials"
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          Select the "OAuth consent screen"
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          Give your application a name and support email. Click "Save" at the
          bottom
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          Go back to the "Credentials" tab. Click "Create credentials" &rarr;
          "OAuth client ID"
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          Select "Web application". This will expose more options.
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          Under "Authorized JavaScript origins" enter:
          {% endblocktrans %}
          <code>http://{{ hostname }}/</code><br/>
          {% blocktrans trimmed %}
          Under "Authorized redirect URIs" enter:
          {% endblocktrans %}
          <code>http://{{ hostname }}/complete/google-oauth2/</code><br/>
          {% blocktrans trimmed %}
          Click "Save".
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
          This will bring up a prompt containing the Google
          OAuth2 Key and Secret. Copy each to the below input boxes.
          {% endblocktrans %}
        </li>
      </ol>
      <p>
      {% blocktrans trimmed %}
      Optionally, you can select one or more domains to whitelist. This will
      let users whose email addresses are within the whitelisted domain
      sign in, without needing to first create their user account.
      {% endblocktrans %}
      </p>
      <p>
      {% blocktrans trimmed %}
      If you didn't whitelist any domains, you'll need to pre-create each user
      that you want to be able sign in via Google Sign In. This can be done from
      the users section of the admin dashboard.
      {% endblocktrans %}
      </p>
      <table class="google-oauth">
        <tr>
          <td>
            {% trans 'Google OAuth2 Client ID' as google_oauth_key %}
            <label for="google_oauth_key">{{ google_oauth_key }}</label>
          </td>
          <td>
            <input name="google_oauth_key"
                   type="text"
                   value="{{ oauth_cred.google_oauth_key }}"
                   placeholder="long code, e.g., 327832290-ajn..." />
          </td>
        </tr>
        <tr>
          <td>
            {% trans 'Google OAuth2 Secret' as google_oauth_secret %}
            <label for="google_oauth_secret">{{ google_oauth_secret }}</label>
          </td>
          <td>
            <input name="google_oauth_secret"
                   type="text"
                   value="{{ oauth_cred.google_oauth_secret }}"
                   placeholder="short code, e.g., a708absY_s..." />
          </td>
        </tr>
        <tr>
          <td>
            {% trans 'Whitelist Domains (Optional)' as google_oauth_whitelist %}
            <label for="google_oauth_whitelist">{{ google_oauth_whitelist }}</label>
          </td>
          <td>
            <input name="google_oauth_whitelist"
                   type="text"
                   value="{{ oauth_cred.google_oauth_whitelist }}"
                   placeholder="Comma-separated list of domains, e.g. propublica.org,some.tld" />
          </td>
        </tr>
      </table>
    </div>

    <h3 class="google-dlp hideable" onclick="showHide('.google-dlp')">
      <span class="icon">➕</span> Google Redaction (Data Loss Prevention)
    </h3>
    <div class="show-hide google-dlp-body">
      <p>
      {% blocktrans trimmed %}
      To have the app automatically redact personally identifiable
      information (names, phone numbers, email addresses, etc) upon import
      from a spreadsheet, you can use the Google Data Loss Prevention (DLP)
      service. This requires you to create a DLP credentials file and setting
      up a billing account with Google, by following the instructions below.
      {% endblocktrans %}
      </p>
      <p>
      {% blocktrans trimmed %}
      Note: This will not remove the information from the source data.
      This will only prevent it from being saved to the collaborative app's
      database.
      {% endblocktrans %}
      </p>

      <div class="instructions-list">
        <h4>Credentials Instructions</h4>
        <ol>
          <li>Go to the <a href="https://console.developers.google.com">Google Developer's Console</a></li>
          <li>Create a new project, or select an existing one (if you've
            already set up Google private sheets, for example).</li>
          <li>
            <p>From the drop down navigation menu on the top left,
            select "IAM &amp; admin" &rarr; "Service accounts".</p>

            <p><img src="{% static '/collaborative/dlp/01-navigate-to-service-accounts.sm.png' %}" alt="Select service accounts" title="" /></p></li>
          <li><p>Click "Create Service Account" at the top of the
            service accounts page.</p>

            <p><img src="{% static '/collaborative/dlp/02-create-new-service-account.sm.png' %}" alt="Select create new service account" title="" /></p></li>
          <li><p>Name your new Google Redactor service account.</p>

            <p><img src="{% static '/collaborative/dlp/03-create-service-account.sm.png' %}" alt="Name your service account" title="" /></p></li>
          <li><p>Open the "Select a role" menu, search for "DLP User"
            and select that role to grant your account access to the
            redactor service.</p>

            <p><img src="{% static '/collaborative/dlp/04a-open-select-a-role-menu.sm.png' %}" alt="Open select a role menu" title="" /></p>

            <p><img src="{% static '/collaborative/dlp/04b-grant-dlp-user-role.sm.png' %}" alt="Grant DLP User role" title="" /></p></li>
          <li><p>Select "Create Key" and, in the right tab that opens,
            select a JSON key and click "Create". Save the credentials
            file it gives you. Finally, click the "Done" button below
            the newly created keys list.</p>

            <p><img src="{% static '/collaborative/dlp/05a-click-create-key.sm.png' %}" alt="Click create key" title="" /></p>

            <p><img src="{% static '/collaborative/dlp/05b-save-json-credentials.sm.png' %}" alt="Save JSON credentials" title="" /></p>

            <p><img src="{% static '/collaborative/dlp/06-select-done.sm.png' %}" alt="Click done" title="" /></p></li>
          <li><p>Go to the <a href="https://console.cloud.google.com/apis/library/dlp.googleapis.com">Google Cloud API screen for Google DLP</a>.
            Click "Enable". Cloud DLP requires you set up a billing
            account with Google.  If you haven't done this, you will be
            asked to go through the account wizard. At the end, you will
            be directed back to this screen, where you can click
            "Enable" again. Note that Google has a
            <a href="https://cloud.google.com/dlp/pricing">free tier</a>
            and that you can use your free credits towards the
            service.</p>

            <p><img src="{% static '/collaborative/dlp/07-enable-cloud-dlp.sm.png' %}" alt="Enable cloud DLP" title="" /></p>

            <p><img src="{% static '/collaborative/dlp/08-enable-billing.sm.png' %}" alt="Enable billing, if you haven't" title="" /></p></li>
          <li><p>
            Upload the credentials file to the collaborative system. You
            are now ready to select fields for redaction, by clicking
            the checkbox on the import and refine screen.</p>

            <p><img src="{% static '/collaborative/dlp/09-upload-credentials.sm.png' %}" alt="Upload credentials file" title="" /></p></li>
        </ol>
        <div>
          <table class="google-redaction">
            {% if dlp_cred %}
            <tr>
              <td><label>{% trans 'Credentials exist' %}</label></td>
              <td>
                You currently have a Google DLP redaction credential file saved.
                You can replace it below.
              </td>
            </tr>
            {% endif %}
            <tr>
              <td>
                <label for="google_redaction_credentials">
                  {% trans 'Credentials file' %}
                </label>
              </td>
              <td>
                <input name="google_redaction_credentials"
                       accept=".json"
                       type="file" />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <h3 class="google-sheets hideable" onclick="showHide('.google-sheets')">
      <span class="icon">➕</span> Google Private Sheets
    </h3>
    <div class="show-hide google-sheets-body">
      <p>
      {% blocktrans trimmed %}
      To grant the collaborative system access to private sheets, you need
      to follow the instructions below and upload the Google credentials file.
      {% endblocktrans %}
      </p>
      <p>
      {% blocktrans trimmed %}
      If you've already gone through these steps (if you already imported a
      private Google spreadsheet), you don't need to go through them again.
      If you need to re-upload credentials, you can do it here.
      {% endblocktrans %}
      </p>
      <ol>
        <li>
          <p>Go to the <a href="https://console.developers.google.com/projectselector/apis/library?pli=1&amp;supportedpurview=project">Google Console</a> and create a new project.</p>

          <p>
          <img src="{% static 'django_models_from_csv/instructions/01-create-project.png' %}" alt="Create new project" title="Create a new project" />
          </p>
        </li>
        <li>
          <p>From the 'Enable APIs and Services' screen, search for "Google Sheets" and
          click on the "Google Sheets API" box.</p>

          <p>
          <img src="{% static 'django_models_from_csv/instructions/02-goto-enable-apis-and-services.png' %}" alt="Click 'Enable APIs and Services'" title="Click 'Enable APIs and Services'" />
          </p>

          <p>
          <img src="{% static 'django_models_from_csv/instructions/03-enable-sheets-apis.png' %}" alt="Enable Sheets API" title="Enable Sheets API" />
          </p>
        </li>
        <li>
          <p>In the left panel, click the "Credentials" button.</p>

          <p>
          <img src="{% static 'django_models_from_csv/instructions/04-click-credentials.png' %}" alt="Click 'Credentials'" title="Click 'Credentials'" />
          </p>
        </li>
        <li>
          <p>Then click "Create Credentials" menu towards the top of the page that loads
          and select "Service account".</p>

          <p>
          <img src="{% static 'django_models_from_csv/instructions/05-create-service-account.png' %}" alt="Create Service Account" title="Create Service Account credentials" />
          </p>
        </li>
        <li>
          <p>In the wizard that loads, name your service account. I chose
          "private sheet reader". Then click "Create".</p>

          <p>
          <img src="{% static 'django_models_from_csv/instructions/06-name-service-account.png' %}" alt="Name Service Account" title="Name your service account" />
          </p>
        </li>
        <li>
          <p>In the next page, add the "Viewer" role to your service account and
          then click "Continue"</p>

          <p>
          <img src="{% static 'django_models_from_csv/instructions/07-add-viewer-role.png' %}" alt="Add 'Viewer' role" title="Add the 'Viewer' role" />
          </p>
        </li>
        <li>
          <p>Towards the bottom of the next page, click "Create Key". A
          right tab will appear.</p>

          <p>
          <img src="{% static 'django_models_from_csv/instructions/08-create-key.png' %}" alt="Click 'Create Key'" title="Click 'Create Key'" />
          </p>
        </li>
        <li>
          <p>Select the "JSON" option (should be default) and click
          "Done". Save the file that it gives you.</p>

          <p>
          <img src="{% static 'django_models_from_csv/instructions/09-create-json-key.png' %}" alt="Create a JSON key" title="Create a JSON key" />
          </p>
        </li>
        <li>
          <p>Upload the credentials JSON file, below. Now you can use
          private sheets, by clicking the "Private sheet" checkbox upon
        import.</p> </li>
      </ol>
      <table>
        {% if sheets_cred %}
        <tr>
          <td><label>{% trans 'Credentials exist' %}</label></td>
          <td>
            You currently have a private sheets credential file saved.
            You can replace it below.
          </td>
        </tr>
        {% endif %}
        <tr>
          <td>&nbsp;</td>
          <td>
            <label for="csv_google_credentials">
              {% trans 'Credentials file' %}
            </label>
          </td>
          <td>
            <input style="min-width:600px;"
                   name="csv_google_credentials"
                   accept=".json"
                   type="file" />
          </td>
        </tr>
      </table>
    </div>

    {% csrf_token %}
    <div class="continue">
      <input type="submit" value="{% trans 'Continue' %}" />
    </div>
  </form>
</div>
{% endblock %}
